@use 'config/reset';
@use 'config/variaveis';

@mixin elementoForm() {
    padding: 8px;
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

body {
    background-color: #eee;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 16px 0;
    background-color: variaveis.$corPrincipal;
    text-align: center;
    color: #fff;
}

.form-container {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h2 {
        font-size: 48px;
        text-align: center;
    }

    form {
        width: 100%;
        max-width: 480px;
        margin-top: 40px;

        label {
            font-weight: bold;
            cursor: pointer;
        }

        input {
            @include elementoForm();
            background-color: transparent;
            border: none;
            border-bottom: 3px solid variaveis.$corPrincipal;
        }

        button {
            @include elementoForm();
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            border: none;
            color: #fff;
            background-color: variaveis.$corSecundaria;

            &:hover {
                background-color: darken(variaveis.$corSecundaria, 15%);
            }
        }
    }
}

@media screen and (max-width: variaveis.$mobile) {
    .container {
        max-width: 80%;
    }
}